In [6]:
from flask import Flask, render_template, session, redirect, request, jsonify,url_for
from functools import wraps
import os
from pymongo import MongoClient
from flask_cors import CORS
import logging
from flask import Flask, request, jsonify
# from flask_pymongo import PyMongo
from bson.json_util import dumps
from bson.objectid import ObjectId
from datetime import datetime
from email.mime.text import MIMEText
from email.mime.multipart import MIMEMultipart
import smtplib

# from Recommender_System.recommender import (
#     get_content_based_recommendations, 
#     get_collaborative_filtering_recommendations,
#     get_hybrid_recommendations,
#     cosine_sim,
#     books
# )

import pandas as pd
import numpy as np
from scipy.sparse.linalg import svds
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity

In [8]:
app = Flask(__name__)
CORS(app)

app.secret_key = "your_secret_key"  # Add a secret key for session management

# Database connection

# Connect to MongoDB
# client = MongoClient("mongodb+srv://Samarth_7:Sam_mongo_atlas@iitdhcluster.a1gizlj.mongodb.net/?retryWrites=true&w=majority&appName=iitdhcluster")
client = MongoClient("mongodb://localhost:27017")

In [10]:

# Accessing the book from database
books_collection = client['all_books']['books2']
user_interactions_collection = client['all_books']['user_rating']

# Load your data here
books = pd.DataFrame(list(books_collection.find()))
books['book_id'] = range(1, len(books) + 1)
books['book_id'] = books['book_id'].apply(lambda x: str(x).zfill(6)).astype(int)
user_interactions = pd.DataFrame(list(user_interactions_collection.find()))

In [12]:
user_interactions

                        _id  user_id  book_id  rating  borrow_count
0  6686ccf9e765d4b7afa42d78        1      101       5            10
1  6686ccf9e765d4b7afa42d79        1      102       3             5
2  6686ccf9e765d4b7afa42d7a        1      103       4             7
3  6686ccf9e765d4b7afa42d7b        2      101       4             2
4  6686ccf9e765d4b7afa42d7c        2      104       2             3
5  6686ccf9e765d4b7afa42d7d        3      102       5             6
6  6686ccf9e765d4b7afa42d7e        3      103       4             4
7  6686ccf9e765d4b7afa42d7f        3      104       3             1
8  6686ccf9e765d4b7afa42d80        3      105       1             2

In [14]:
# Ensure all entries in combined_features are strings
books['combined_features'] = (books['title'].fillna('') + ' ' + 
                              books['description'].fillna('') + ' ' + 
                              books['author'].fillna('') + ' ' + 
                              books['genre'].fillna('') + ' ' + 
                              books['department'].fillna(''))

tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(books['combined_features'])
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [36]:
# Collaborative Filtering Setup
user_book_ratings = user_interactions.pivot(index='user_id', columns='book_id', values='rating').fillna(0)
R = user_book_ratings.values
user_ratings_mean = np.mean(R, axis=1)
R_demeaned = R - user_ratings_mean.reshape(-1, 1)

In [38]:
user_borrow_count = user_interactions.pivot(index='user_id', columns='book_id', values='borrow_count').fillna(0)

In [40]:
user_book_ratings

book_id  101  102  103  104  105
user_id
1        5.0  3.0  4.0  0.0  0.0
2        4.0  0.0  0.0  2.0  0.0
3        0.0  5.0  4.0  3.0  1.0

In [44]:
user_borrow_count

book_id   101  102  103  104  105
user_id
1        10.0  5.0  7.0  0.0  0.0
2         2.0  0.0  0.0  3.0  0.0
3         0.0  6.0  4.0  1.0  2.0

In [46]:
user_book_ratings+user_borrow_count

book_id   101   102   103  104  105
user_id
1        15.0   8.0  11.0  0.0  0.0
2         6.0   0.0   0.0  5.0  0.0
3         0.0  11.0   8.0  4.0  3.0

In [30]:
user_ratings_mean

array([2.4, 1.2, 2.6])

In [34]:
R

array([[5., 3., 4., 0., 0.],
       [4., 0., 0., 2., 0.],
       [0., 5., 4., 3., 1.]])

In [18]:
# Determine the appropriate value of k based on the shape of R_demeaned
num_users, num_books = R_demeaned.shape
k = min(num_users, num_books) - 1  # Set k to be less than the smaller dimension

# Perform matrix factorization with the adjusted value of k
U, sigma, Vt = svds(R_demeaned, k=k)
sigma = np.diag(sigma)
predicted_ratings = np.dot(np.dot(U, sigma), Vt) + user_ratings_mean.reshape(-1, 1)
predicted_ratings_books = pd.DataFrame(predicted_ratings, columns=user_book_ratings.columns)